
.title{
    text-align: center;
}

.banner{
    background-color: #f8f4f4;
    text-align: center;
    width: 700px;
    margin-left: 10em;
    padding: 1em 10em
}

.col{
    width: 30%;
    float: left;
    padding: 1em 1em
}